/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

$mint-dark: #a9ccc1;
$mint-light: #ebfff9;
$teal: #38908f;
$blue-light: #f8fdff;
$blue: #b2d9ea;
$blue-dark: #75a1b4;
$white: #ffff;
$grey-light: #f2f2f2;
$grey-dark: #e6e6e6;

$primary: $mint-dark;
$secondary: $mint-light;
$tertiary: $teal;

$fourth: $blue-light;
$fifth: $blue;
$six: $blue-dark;

//BODY
.body {
  background-color: whitesmoke;
  margin-left: 600px;
  margin-right: 600px;
}

.header {
  margin-left: 70px;
  margin-top: 30px;
}
//HEADER NAV
.navbar {
  margin-top: 20px;
  margin-left: 20px;

  .navbar-toggler-icon {
    i {
      font-size: 2rem;
      color: $teal;
    }
  }
  li {
    padding: 0 0.7rem;
    font-size: 1.4rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.2rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }

    .dropdownmenu {
      &:hover {
        color: $teal;
      }

      &:active {
        background-color: $grey-light;
      }
    }

    a {
      color: grey;
      padding: 0 0.7rem;
      text-transform: capitalize;
      font-weight: 200;

      &:hover {
        color: $teal;
        border-bottom: 2px $primary;
      }

      &:active {
        background-color: $grey-light;
      }
    }
  }
}

//HOME
.home_pics {
  margin-left: 30px;
  font-size: 1.2rem;
}

//FORM AND BUTTONS
.email {
  h1 {
    margin-left: 30px;
    @include media-breakpoint-up(sm) {
      margin-left: 100px;
    }
  }
}

form {
  i {
    color: $primary;
    font-size: 1.3rem;
  }
}

//ABOUT
.about {
  p {
    font-size: 1.4rem;
  }
}

//BLOG
.new-blog {
  position: relative;
  padding: 0;

  i {
    font-size: 1.4rem;
  }

  &__card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    margin-top: 10px;
    height: 420px;
    text-align: center;
  }
}

//THIS & THAT & RECIPES
.this-that,
.entrees,
.cocktails,
.extras {
  h2 {
    background-color: $grey-dark;
    text-align: center;
  }
}

.recipes {
  i {
    font-size: 1.4em;
    color: $teal;
  }
  .navbar {
    li {
      text-align: center;
      scroll-margin-left: 400px;
      padding: 0 0 0 1.2rem;
      font-weight: 400;
      font-size: 1.5rem;

      a {
        &:hover {
          color: $teal;
        }

        &:active {
          color: $grey-dark;
          font-weight: 400;
        }
      }

      i {
        font-size: 1.2rem;
        color: $teal;
      }
    }
    button {
      background-color: $white;
      border: 3px solid $mint-dark;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 50px;
    }
  }
}

h2 {
  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}

p {
  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $teal;
    }
  }
}

//LET'S SHOP
.shop {
  button {
    background-color: $teal;
    font-size: 1.2rem;
    a {
      color: $white;
    }
  }
}

//ORGANIZATION
.organization {
  button {
    background-color: $white;
    border: 3px solid $teal; 
    font-size: 1.2rem;
    width: 250px; 
  }
}
//THE FOOTER NAV
.links-list {
  display: block;
  list-style-type: none;
  position: sticky;
  font-size: 18px;

  li {
    margin-bottom: 0.5rem;
    text-decoration: none;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: $teal;
      }
    }
  }
  i {
    color: $teal;
    padding: 0 1px;
    font-size: 1.6rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
  }
  @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
  }
}

h5 {
  a {
    color: black;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
      color: $teal;
    }
  }
}

.footer {
  margin-top: 120px; 
}

.footer-bottom {
  background-color: #e2f6ff;

  &__copyright {
    color: $gray-600;
    font-weight: 400;

    a {
      color: $teal;
      text-decoration: none;

      &:hover {
        color: $teal;
        text-decoration: underline;
      }
    }
  }
}

//BACK TO TOP BUTTON
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
  background-color: $primary;

  i {
    color: $white;
    font-size: 1rem;
    @include absoluteCenter;
  }
}
